In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv("/Users/hayden/Desktop/WORKSPACE/DS_303_1/final_project/My_CHI._My_Future._Programs.csv")
data.head()

,Program ID,Program Name,Description,Org Name,Category Name,Capacity,Min Age,Max Age,Address,City,...,Has Free Food,Meeting Type,Image,Hidden Programs,Featured,Custom Categories,Tag,Latitude,Longitude,Location
0,121806,English Conversation with Chicago Lawn,"The more we practice, the more we learn a new ...",Chicago Public Library,Academic Support,NaN,18,99,NaN,NaN,...,False,online,NaN,False,False,NaN,Event,NaN,NaN,NaN
1,88726,Tattoos & Tribes,For millennia tattooing has served as a unique...,Chicago Public Library,Academic Support,0.0,14,18,NaN,NaN,...,False,online,NaN,False,False,NaN,Event,NaN,NaN,NaN
2,120797,Mi Libro y Yo Spanish Book Club for Kids,Acompae a Mrs. Vicky en el club de lectura pa...,Chicago Public Library,Reading & Writing.,0.0,4,10,NaN,NaN,...,False,online,NaN,False,False,NaN,Event,NaN,NaN,NaN
3,87932,Majorettes @Sarah Goode,Majorettes @Sarah Goode,After School Matters,Music & Art.,15.0,14,17,NaN,NaN,...,False,online,NaN,True,False,NaN,Program,NaN,NaN,NaN
4,88052,TeaProv Family,TeaProv Family,After School Matters,Music & Art.,15.0,14,22,NaN,NaN,...,False,online,NaN,True,False,NaN,Program,NaN,NaN,NaN

In [3]:
data['Category Name'].unique()

array(['Academic Support', 'Reading & Writing.', 'Music & Art.',
       'Sports + Wellness.', 'Science', 'Work + Career', 'Computers.',
       'Food.', 'Nature.', 'Helping Your Community.', 'Healthcare',
       'Building & Fixing Things', 'Managing Money.', 'Digital Media.',
       'Social Studies', 'Performance.', 'Customer/Human Service', 'Math',
       'Transportation', 'Teaching', 'Science & Math', 'Computers', 'Law',
       nan], dtype=object)

In [ ]:
sns.barplot()